{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Student</title>
  </head>
  <body>
    <div class="container-fluid">
        <h1 class="text-center alert alert-danger">Django Ajax CRUD App</h1>
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-info" id="form-title">Add Student</h4>
                <form action="" method="post" id="formid">
                    {% csrf_token %}
                    <input type="hidden" name="studentid" id="studentid">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    <div id="name-message" class="error-message"></div><br>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <div id="email-message"></div><br>
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                    <br>
                    <input type="button" class="btn btn-success" value="Save" id="btnsave">
                    <input type="reset" class="btn btn-secondary", value="Cancel" id="btncancel">
                </form>
            </div>
            <div class="col-sm-8">
                <h4 class="text-center alert alert-info">List of Student</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        {% for student in students %}
                        <tr id="{{ student.id }}">
                            <td>{{ student.id }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.phone }}</td>
                            <td>
                                <input type="button" value="Edit" class="btn btn-warning btn-sm btn-edit" data-sid="{{ student.id }}">
                                <input type="button" value="Delete" class="btn btn-danger btn-sm btn-delete" data-sid="{{ student.id }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- CSS for invalid name field -->
    <style>
        label.error {
            color: red;
            font-size: 14px;
            font-weight: bold;
            margin-top: 5px;
            display: block;
        }

        .valid {
            border-color: green !important;
        }

        .error {
            border-color: red !important;
        }
    </style>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- JQuery for ajax -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    
  </body>
</html>